//VARIABLES ✨

//Colores
$color-primario:  #d94077;
$bck-btn:#a52a2a;
$bck-btn-h: #ffffff;
$background-pie: #e98f46;


//Tipografias
$font-body: "Quicksand", sans-serif;
$font-title-h1:  "Quicksand", sans-serif;

//Tamaños de tipografias
$k-sm: 1.5rem;
$k-md: 2rem;

//MAPAS ✨
$colors: (
    instagram: #d94077,
    threads: #0000ff,
    whatsapp: #671313,
);

//  ☝ Llave        ☝Valor
//     colores       valor_colores

@each $colores, $valor_colores in $colors{
    .bi-#{$colores}{
        width: 50px;
        height: 50px;
        &:hover{
            box-shadow: 1px 1px 15px $valor_colores;
        }
    }
}

$font-variant:(
    xxl: 40px,
    xl: 38px,
    md: 28px,
    sm: 12px,
    xs: 10px
);
//  ☝    ☝
//talles   tamano

@each $talles, $tamano in $font-variant{

    .txt-#{$talles}{
        font-size: $tamano;
    }
}










$ren:(
    w: 1rem,
    h: 500px,
    pt: 5rem,
    mt: 5rem,
)

