//VARIABLES ✨

//Colores
$color-primario:  #d94077;
$bck-btn:#a52a2a;
$bck-btn-h: #ffffff;
$background-pie: #e98f46;


//Tipografias
$font-body: "Quicksand", sans-serif;
$font-title-h1:  "Quicksand", sans-serif;

//Tamaños de tipografias
$k-sm: 1.5rem;
$k-md: 2rem;

//MAPAS ✨
$colors: (
    primario: #d94077,
    secundario: #0000ff,
    terciario: #671313,
    inhabilitado: #443e3e,
);

$ren:(
    w: 1rem,
    h: 500px,
    pt: 5rem,
    mt: 5rem,
)

